img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.4;
    color: darkorchid;
}
h1 {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: fuchsia;
    font-size: 50px;
        
    }
h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 45px;
    color: fuchsia;
    padding-left: 50px;
    margin-bottom: 30px;
}

h3{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: darkslateblue;
    font-style: italic;
    font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 50px;
    
}

.grid-item {
  padding: 20px;

}
