img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

h1{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: fuchsia;

    
}
h3{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: darkslateblue;
    font-style: italic;
    font-size: 18px;
}